html{
    height: 100%;
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
}
body{
    margin: 0;
    'background:  -webkit-linear-gradient(black,gray);
    height: 100%;
    width: 100%;
    font-family:sans-serif;
}
#main{
    margin-top: 80px;
    vertical-align: middle;
    text-align: center;
}
#header{
    height:152px;
    
}
.caption{
    text-align: center;
    text-shadow: 2px 2px 2px Green;
}
.caption1{
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.caption p{
    color: white;
    font-size: 38px;
}
.caption1 p{
    color: white;
    font-size: 22px;
}
#imgContainer{
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0;
}
.imgbtn{
    height:70px;
	width:70px;
    
}
.box{
    margin: 15px;
    border: 2px soild;
    border-color: black;
}
.txtbox{
    color: gray;
    margin: 5px;
    height:30px;
    width: 200px;
    padding-left:5px;
}
.btn{
    margin: 5px;
    height:35px;
    width: 210px;
    background:pink;
    border: none;
    border-radius: 5px;
}
p{
    margin:5px;
    font-family:sans-serif;
    font-size: 14px;
}
span p{
    font-family:sans-serif;
    font-size: 8px;
    vertical-align: text-top;
}
